<section class="mt-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                {{#if date}}
                <h3 class="mt-4">Total de vendas ({{date.month}} {{date.day}}):</h3>
                <p class="small mb-4">Atualizado às {{date.hours}}:{{date.minutes}}.</p>
                {{/if}}
                <ul>
                    <li class="fs-1 text-success mb-5">{{total}} €</li>
                </ul>
                <a class="btn btn-primary px-5 py-3" href="https://mypastry.onrender.com/admin">Voltar ao dashboard</a>
        </div>
    </div>
</section>