<!-- Header set up #################################################################################################-->
<header>
    <div class="container-md">
        <div id="backLink" class="back-link">
            <a href="#">
                <i class="bi bi-arrow-left fs-1 mt-1 text-gradient"></i>
                <div class="fs-6 ms-2" style="color: #3D3D3D;">Voltar</div>
            </a>
        </div>
    </div>
</header>

<!-- Section 1 - Product info set up #################################################################################################-->

{{#if product}}

<section class="mt-4">
    <div class="container-md">
        <div class="row justify-content-around">

            <div  class="col-lg-5">
                <img class="prod-img img-fluid" src="{{product.img_url}}" alt="">
            </div>
            <div id="prod-data" pid="{{product.id}}" price="{{product.price}}" class="col-lg-5">
                <h1 class="mb-2">{{product.name}}</h1>
                <p class="mb-5">{{product.description}}</p>

                <span class="price-status mb-5">
                    <div class="fs-4 fw-light me-4">€{{product.price}} EUR</div>
                    {{#if product.available}}
                    <div class="status rounded-2 small">Disponível</div>
                    {{else}}
                    <div class="status bg-secondary rounded-2 small">Indisponível</div>
                    {{/if}}
                </span>

                <div class="quantity mb-5">
                    <div class="fw-light small">Quantidade</div>
                    <span class="quantity-switch border border-2 border-secondary rounded-2 fs-5">
                        <div id="minus" class="action"><i class="bi bi-dash-lg float-start"></i></div>
                        <div id="quant" class="value">1</div>
                        <div id="plus" class="action"><i class="bi bi-plus-lg float-end"></i></div>
                    </span>
                </div>

                <button id="addToCart" class="btn-xl btn-default fw-bold py-3 px-5 rounded-4 fs-5" type="button">Adicionar ao pedido</button>
            </div>
        </div>
    </div>
</section>

<div id="ic-mouse" class="icon-24 ic-mouse my-4"><img src="/images/icons/mouse.svg" alt=""></div>

<!-- Section 2 - Ingredients set up #################################################################################################-->

{{#if product.ingredients}}

<section>
    <div class="container-md">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="fw-light fs-2 mb-4">Ingredientes</div>
            </div>
        </div>

        <div class="row ingredients-container d-flex justify-content-between">

            <div id="left-indicator" class="indicator text-gradient"><i class="bi bi-arrow-left display-6"></i></div>
            
            <div id="img-wrapper" class="inner-img-container overflow-x-hidden">

                {{#each product.ingredients}}

                <div class="col-md-3 ingredient text-center">
                    <img src="{{this.img_url}}" alt="">
                    <p>{{this.name}}</p>
                </div>

                {{/each}}
            </div>

            <div id="right-indicator" class="indicator text-gradient"><i class="bi bi-arrow-right display-6"></i></div>
        </div>
        
    </div>
</section>

{{/if}}

{{else}}

<section class="mt-5">
    <div class="container-md">
        <div class="row justify-content-center">

            <div class="col text-center">
                <div class="float-frame p-7">
                    <h1 class="">Nenhum resultado encontrado!</h1>
                    <p>Produto: <strong><em>{{id}}</em></strong></p>
                    <a class="btn btn-default fw-bold py-3 px-5  rounded-5" href="https://mypastry.onrender.com/collections">
                        Voltar à página anterior
                    </a>
                </div>
            </div>
            
        </div>
    </div>      
</section>

{{/if}}