<!-- Header set up #################################################################################################-->
<header class="masthead" style="background-image: url('/images/thumbs/generic.png');">
    <div class="container-md">
        <div class="row">

            <div class="back-link">
                <a href="https://mypastry.onrender.com/collections">
                    <i class="bi bi-arrow-left fs-1 mt-1 text-gradient"></i>
                    <div class="fs-6 ms-2">Lista de produtos</div>
                </a>
            </div>
            <div class="intro-text">
                <div class="intro-lead-in display-6 fw-bold">{{category}}</div>
            </div>
        </div>
    </div>
</header>


{{#if showCard}}

<!-- Section 3 - About the app set up #################################################################################################-->
<section class="mt-3">
    <div class="container-md">
    <div class="row">
        
        <div class="card-lg rounded-4" style="background-image: url('/images/thumbs/make.jpg');">
            <div>
                <div class="fs-3 fw-bold mb-2">Monte o seu <span class="text-gradient">Pastel</span>.</div>
                <div>O seu pastel com ingredientes a sua escolha. <br>
                        "Você idealiza, nós realizamos". 
                </div>
            </div>

            <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="#">Montar um pastel</a>
        </div>
    </div>
        
    </div>
</section>

{{/if}}

{{#if products}}

<!-- Cards #################################################################################################-->
<section class="mt-5">
    <div class="container-md">
        <div class="row justify-content-between gy-5">

            {{#each products}}
            <div class="card card-md col-md-3" style="width: 18rem;">
                <img class="card-img-top rounded-4 mb-2" src="{{this.img_url}}"  alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a class="btn btn-default fw-bold py-3 px-5 rounded-5" href="https://mypastry.onrender.com/products/{{this.id}}">Saber mais</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>      
    
</section>

{{else}}

<section class="mt-5">
    <div class="container-md">
        <div class="row justify-content-center">

            <div class="col text-center">
                <div class="float-frame p-7">
                    <h1>Nenhum resultado encontrado!</h1>
                    <p>Categoria: <strong><em>{{category}}</em></strong></p>
                    <a class="btn btn-default fw-bold py-3 px-5  rounded-5" href="https://mypastry.onrender.com/collections">
                        Voltar à página anterior
                    </a>
                </div>
            </div>
            
        </div>
    </div>      
</section>

{{/if}}